@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    background: #1F271B;
    font-family: 'Yatra One', cursive;
    text-align: center;
    display: block;  
}
.title {
    color: #C6D6BF;
}
.row {
    color: #C6D6BF;
    font-size: 15pt;
    padding-top: 15px; 
}
.box {
    padding: 10px;
    border-radius: 20px;
    font-family: 'Yatra One', cursive; 
    color: #1F271B;
    font-size: 15pt;  
}
.baseboard {
    color: #C6D6BF;
    padding-top: 30px;
    font-size: 10pt;
}